pipeline/HistoricalPollution.json
{
	"name": "HistoricalPollution",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://Team3KeyVault.vault.azure.net/secrets/OpenWeatherKey?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": " https://vault.azure.net"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "HistoricalPollutionIngest",
						"type": "DatasetReference",
						"parameters": {
							"lat": 42.36,
							"lon": 71.06,
							"appid": "@activity('Web1').output.value",
							"Start": 1701406800,
							"End": 1733029200
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AirPollution",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"Start": {
				"type": "int",
				"defaultValue": 1701406800
			},
			"End": {
				"type": "int",
				"defaultValue": 1733029200
			}
		},
		"annotations": []
	}
}