pipeline/HistoricalWeather.json
{
	"name": "HistoricalWeather",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://Team3KeyVault.vault.azure.net/secrets/OpenWeatherKey?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": " https://vault.azure.net"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.DateRange",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "HistoricalWeatherIngest",
									"type": "DatasetReference",
									"parameters": {
										"dataType": "hour",
										"lat": 42.36,
										"lon": 71.06,
										"appid": "@activity('Web1').output.value",
										"start": "@item().start",
										"end": "@item().end"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "HistoricalWeather",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"DateRange": {
				"type": "array",
				"defaultValue": [
					{
						"start": "1701406800",
						"end": "1702011600"
					},
					{
						"start": "1702011600",
						"end": "1702616400"
					},
					{
						"start": "1702616400",
						"end": "1703221200"
					},
					{
						"start": "1703221200",
						"end": "1703826000"
					},
					{
						"start": "1703826000",
						"end": "1704430800"
					},
					{
						"start": "1704430800",
						"end": "1705035600"
					},
					{
						"start": "1705035600",
						"end": "1705640400"
					},
					{
						"start": "1705640400",
						"end": "1706245200"
					},
					{
						"start": "1706245200",
						"end": "1706850000"
					},
					{
						"start": "1706850000",
						"end": "1707454800"
					},
					{
						"start": "1707454800",
						"end": "1708059600"
					},
					{
						"start": "1708059600",
						"end": "1708664400"
					},
					{
						"start": "1708664400",
						"end": "1709269200"
					},
					{
						"start": "1709269200",
						"end": "1709874000"
					},
					{
						"start": "1709874000",
						"end": "1710478800"
					},
					{
						"start": "1710478800",
						"end": "1711083600"
					},
					{
						"start": "1711083600",
						"end": "1711688400"
					},
					{
						"start": "1711688400",
						"end": "1712293200"
					},
					{
						"start": "1712293200",
						"end": "1712898000"
					},
					{
						"start": "1712898000",
						"end": "1713502800"
					},
					{
						"start": "1713502800",
						"end": "1714107600"
					},
					{
						"start": "1714107600",
						"end": "1714712400"
					},
					{
						"start": "1714712400",
						"end": "1715317200"
					},
					{
						"start": "1715317200",
						"end": "1715922000"
					},
					{
						"start": "1715922000",
						"end": "1716526800"
					},
					{
						"start": "1716526800",
						"end": "1717131600"
					},
					{
						"start": "1717131600",
						"end": "1717736400"
					},
					{
						"start": "1717736400",
						"end": "1718341200"
					},
					{
						"start": "1718341200",
						"end": "1718946000"
					},
					{
						"start": "1718946000",
						"end": "1719550800"
					},
					{
						"start": "1719550800",
						"end": "1720155600"
					},
					{
						"start": "1720155600",
						"end": "1720760400"
					},
					{
						"start": "1720760400",
						"end": "1721365200"
					},
					{
						"start": "1721365200",
						"end": "1721970000"
					},
					{
						"start": "1721970000",
						"end": "1722574800"
					},
					{
						"start": "1722574800",
						"end": "1723179600"
					},
					{
						"start": "1723179600",
						"end": "1723784400"
					},
					{
						"start": "1723784400",
						"end": "1724389200"
					},
					{
						"start": "1724389200",
						"end": "1724994000"
					},
					{
						"start": "1724994000",
						"end": "1725598800"
					},
					{
						"start": "1725598800",
						"end": "1726203600"
					},
					{
						"start": "1726203600",
						"end": "1726808400"
					},
					{
						"start": "1726808400",
						"end": "1727413200"
					},
					{
						"start": "1727413200",
						"end": "1728018000"
					},
					{
						"start": "1728018000",
						"end": "1728622800"
					},
					{
						"start": "1728622800",
						"end": "1729227600"
					},
					{
						"start": "1729227600",
						"end": "1729832400"
					},
					{
						"start": "1729832400",
						"end": "1730437200"
					},
					{
						"start": "1730437200",
						"end": "1731042000"
					},
					{
						"start": "1731042000",
						"end": "1731646800"
					},
					{
						"start": "1731646800",
						"end": "1732251600"
					},
					{
						"start": "1732251600",
						"end": "1732856400"
					},
					{
						"start": "1732856400",
						"end": "1733029200"
					}
				]
			}
		},
		"variables": {
			"DateRange": {
				"type": "Array",
				"defaultValue": [
					{
						"start": "1733029200",
						"end": "1732424400"
					},
					{
						"start": "1732424400",
						"end": "1731819600"
					},
					{
						"start": "1731819600",
						"end": "1731214800"
					},
					{
						"start": "1731214800",
						"end": "1730610000"
					},
					{
						"start": "1730610000",
						"end": "1730005200"
					},
					{
						"start": "1730005200",
						"end": "1729400400"
					},
					{
						"start": "1729400400",
						"end": "1728795600"
					},
					{
						"start": "1728795600",
						"end": "1728190800"
					},
					{
						"start": "1728190800",
						"end": "1727586000"
					},
					{
						"start": "1727586000",
						"end": "1726981200"
					},
					{
						"start": "1726981200",
						"end": "1726376400"
					},
					{
						"start": "1726376400",
						"end": "1725771600"
					},
					{
						"start": "1725771600",
						"end": "1725166800"
					},
					{
						"start": "1725166800",
						"end": "1724562000"
					},
					{
						"start": "1724562000",
						"end": "1723957200"
					},
					{
						"start": "1723957200",
						"end": "1723352400"
					},
					{
						"start": "1723352400",
						"end": "1722747600"
					},
					{
						"start": "1722747600",
						"end": "1722142800"
					},
					{
						"start": "1722142800",
						"end": "1721538000"
					},
					{
						"start": "1721538000",
						"end": "1720933200"
					},
					{
						"start": "1720933200",
						"end": "1720328400"
					},
					{
						"start": "1720328400",
						"end": "1719723600"
					},
					{
						"start": "1719723600",
						"end": "1719118800"
					},
					{
						"start": "1719118800",
						"end": "1718514000"
					},
					{
						"start": "1718514000",
						"end": "1717909200"
					},
					{
						"start": "1717909200",
						"end": "1717304400"
					},
					{
						"start": "1717304400",
						"end": "1716699600"
					},
					{
						"start": "1716699600",
						"end": "1716094800"
					},
					{
						"start": "1716094800",
						"end": "1715490000"
					},
					{
						"start": "1715490000",
						"end": "1714885200"
					},
					{
						"start": "1714885200",
						"end": "1714280400"
					},
					{
						"start": "1714280400",
						"end": "1713675600"
					},
					{
						"start": "1713675600",
						"end": "1713070800"
					},
					{
						"start": "1713070800",
						"end": "1712466000"
					},
					{
						"start": "1712466000",
						"end": "1711861200"
					},
					{
						"start": "1711861200",
						"end": "1711256400"
					},
					{
						"start": "1711256400",
						"end": "1710651600"
					},
					{
						"start": "1710651600",
						"end": "1710046800"
					},
					{
						"start": "1710046800",
						"end": "1709442000"
					},
					{
						"start": "1709442000",
						"end": "1708837200"
					},
					{
						"start": "1708837200",
						"end": "1708232400"
					},
					{
						"start": "1708232400",
						"end": "1707627600"
					},
					{
						"start": "1707627600",
						"end": "1707022800"
					},
					{
						"start": "1707022800",
						"end": "1706418000"
					},
					{
						"start": "1706418000",
						"end": "1705813200"
					},
					{
						"start": "1705813200",
						"end": "1705208400"
					},
					{
						"start": "1705208400",
						"end": "1704603600"
					},
					{
						"start": "1704603600",
						"end": "1703998800"
					},
					{
						"start": "1703998800",
						"end": "1703394000"
					},
					{
						"start": "1703394000",
						"end": "1702789200"
					},
					{
						"start": "1702789200",
						"end": "1702184400"
					},
					{
						"start": "1702184400",
						"end": "1701579600"
					}
				]
			},
			"endDate": {
				"type": "String"
			},
			"startDate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}