Team3df/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Team3df"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Weather_Historical')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "HistoricalWeather",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_weather",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "flatten1"
						},
						{
							"name": "flatten2"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          message as string,",
						"          cod as string,",
						"          city_id as integer,",
						"          calctime as double,",
						"          cnt as integer,",
						"          list as (dt as integer, main as (temp as double, feels_like as double, pressure as integer, humidity as integer, temp_min as double, temp_max as double), wind as (speed as double, deg as integer, gust as double), clouds as (all as integer), weather as (id as integer, main as string, description as string, icon as string)[], rain as ({1h} as double))[]",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> source1",
						"source1 foldDown(unroll(list, list),",
						"     mapColumn(",
						"          message,",
						"          cod,",
						"          city_id,",
						"          calctime,",
						"          cnt,",
						"          dt = list.dt,",
						"          main = list.main,",
						"          wind = list.wind,",
						"          clouds = list.clouds,",
						"          weather = list.weather,",
						"          rain = list.rain",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flatten1",
						"flatten1 foldDown(unroll(weather, weather),",
						"     mapColumn(",
						"          calctime,",
						"          city_id,",
						"          cnt,",
						"          cod,",
						"          message,",
						"          clouds_all = clouds.all,",
						"          timestamp = dt,",
						"          feels_like = main.feels_like,",
						"          humidity = main.humidity,",
						"          pressure = main.pressure,",
						"          temp = main.temp,",
						"          temp_max = main.temp_max,",
						"          temp_min = main.temp_min,",
						"          weather_description = weather.description,",
						"          weather_icon = weather.icon,",
						"          weather_id = weather.id,",
						"          weather_main = weather.main,",
						"          wind_deg = wind.deg,",
						"          wind_gust = wind.gust,",
						"          wind_speed = wind.speed,",
						"          rain_1h = rain.{1h}",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flatten2",
						"flatten2 derive(corrected_timestamp = iif(length(toString(timestamp)) == 10, toInteger(timestamp), toInteger(null())),",
						"          location = 'Boston') ~> derivedColumn1",
						"derivedColumn1 filter((!isNull(corrected_timestamp))&&(!isNull(temp))&&(!isNull(humidity))) ~> filter1",
						"filter1 derive(date_time = toTimestamp(toLong(corrected_timestamp) * 1000),",
						"          id = concat(location, toString(corrected_timestamp)),",
						"          temp_C = round(temp - 273.15, 2),",
						"          temp_min_C = round(temp_min - 273.15, 2),",
						"          temp_max_C = round(temp_max - 273.15, 2),",
						"          feels_like_C = round(feels_like - 273.15, 2),",
						"          temp_F = round((temp - 273.15) * 1.8 + 32, 2),",
						"          temp_min_F = round((temp_min - 273.15) * 1.8 + 32, 2),",
						"          temp_max_F = round((temp_max - 273.15) * 1.8 + 32, 0),",
						"          feels_like_F = round((feels_like - 273.15) * 1.8 + 32, 0),",
						"          lat = 42.3601,",
						"          lon = -71.0589,",
						"          weather_id_value = toInteger(split(toString(weather_id), ':')[1]),",
						"          weather_mail_value = split(toString(weather_main), ': ')[1],",
						"          weather_description_value = split(toString(weather_description), ': ')[1],",
						"          weather_icon_value = split(toString(weather_icon), ': ')[1],",
						"          rain_1h = iif(isNull(rain_1h), toFloat(0.0), toFloat(rain_1h))) ~> derivedColumn2",
						"derivedColumn2 select(mapColumn(",
						"          clouds_all,",
						"          feels_like_K = feels_like,",
						"          humidity,",
						"          pressure,",
						"          temp_K = temp,",
						"          temp_max_K = temp_max,",
						"          temp_min_K = temp_min,",
						"          wind_deg,",
						"          wind_gust,",
						"          wind_speed,",
						"          rain_1h,",
						"          corrected_timestamp,",
						"          location,",
						"          date_time,",
						"          id,",
						"          temp_C,",
						"          temp_min_C,",
						"          temp_max_C,",
						"          feels_like_C,",
						"          temp_F,",
						"          temp_min_F,",
						"          temp_max_F,",
						"          feels_like_F,",
						"          lat,",
						"          lon,",
						"          weather_id_value,",
						"          weather_mail_value,",
						"          weather_description_value,",
						"          weather_icon_value",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ride_id as string,",
						"          rideable_type as string,",
						"          started_at as timestamp,",
						"          ended_at as timestamp,",
						"          start_station_name as string,",
						"          start_station_id as string,",
						"          end_station_name as string,",
						"          end_station_id as string,",
						"          start_lat as double,",
						"          start_lng as double,",
						"          end_lat as double,",
						"          end_lng as double,",
						"          member_casual as string,",
						"          is_bike_lost as long,",
						"          is_return_to_dock as long,",
						"          is_start_from_dock as long,",
						"          distance as double,",
						"          duration as double,",
						"          speed_ms as double,",
						"          speed_kmh as double",
						"     ),",
						"     format: 'parquet',",
						"     partitionFileNames:['weather_silver.parquet'],",
						"     umask: 0770,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HistoricalPollution')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://Team3KeyVault.vault.azure.net/secrets/OpenWeatherKey?api-version=7.0",
							"authentication": {
								"type": "MSI",
								"resource": " https://vault.azure.net"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HistoricalPollutionIngest",
								"type": "DatasetReference",
								"parameters": {
									"lat": 42.36,
									"lon": 71.06,
									"appid": "@activity('Web1').output.value",
									"Start": 1701406800,
									"End": 1733029200
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AirPollution",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Start": {
						"type": "int",
						"defaultValue": 1701406800
					},
					"End": {
						"type": "int",
						"defaultValue": 1733029200
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HistoricalWeather')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://Team3KeyVault.vault.azure.net/secrets/OpenWeatherKey?api-version=7.0",
							"authentication": {
								"type": "MSI",
								"resource": " https://vault.azure.net"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.DateRange",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "HistoricalWeatherIngest",
											"type": "DatasetReference",
											"parameters": {
												"dataType": "hour",
												"lat": 42.36,
												"lon": 71.06,
												"appid": "@activity('Web1').output.value",
												"start": "@item().start",
												"end": "@item().end"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "HistoricalWeather",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DateRange": {
						"type": "array",
						"defaultValue": [
							{
								"start": "1701406800",
								"end": "1702011600"
							},
							{
								"start": "1702011600",
								"end": "1702616400"
							},
							{
								"start": "1702616400",
								"end": "1703221200"
							},
							{
								"start": "1703221200",
								"end": "1703826000"
							},
							{
								"start": "1703826000",
								"end": "1704430800"
							},
							{
								"start": "1704430800",
								"end": "1705035600"
							},
							{
								"start": "1705035600",
								"end": "1705640400"
							},
							{
								"start": "1705640400",
								"end": "1706245200"
							},
							{
								"start": "1706245200",
								"end": "1706850000"
							},
							{
								"start": "1706850000",
								"end": "1707454800"
							},
							{
								"start": "1707454800",
								"end": "1708059600"
							},
							{
								"start": "1708059600",
								"end": "1708664400"
							},
							{
								"start": "1708664400",
								"end": "1709269200"
							},
							{
								"start": "1709269200",
								"end": "1709874000"
							},
							{
								"start": "1709874000",
								"end": "1710478800"
							},
							{
								"start": "1710478800",
								"end": "1711083600"
							},
							{
								"start": "1711083600",
								"end": "1711688400"
							},
							{
								"start": "1711688400",
								"end": "1712293200"
							},
							{
								"start": "1712293200",
								"end": "1712898000"
							},
							{
								"start": "1712898000",
								"end": "1713502800"
							},
							{
								"start": "1713502800",
								"end": "1714107600"
							},
							{
								"start": "1714107600",
								"end": "1714712400"
							},
							{
								"start": "1714712400",
								"end": "1715317200"
							},
							{
								"start": "1715317200",
								"end": "1715922000"
							},
							{
								"start": "1715922000",
								"end": "1716526800"
							},
							{
								"start": "1716526800",
								"end": "1717131600"
							},
							{
								"start": "1717131600",
								"end": "1717736400"
							},
							{
								"start": "1717736400",
								"end": "1718341200"
							},
							{
								"start": "1718341200",
								"end": "1718946000"
							},
							{
								"start": "1718946000",
								"end": "1719550800"
							},
							{
								"start": "1719550800",
								"end": "1720155600"
							},
							{
								"start": "1720155600",
								"end": "1720760400"
							},
							{
								"start": "1720760400",
								"end": "1721365200"
							},
							{
								"start": "1721365200",
								"end": "1721970000"
							},
							{
								"start": "1721970000",
								"end": "1722574800"
							},
							{
								"start": "1722574800",
								"end": "1723179600"
							},
							{
								"start": "1723179600",
								"end": "1723784400"
							},
							{
								"start": "1723784400",
								"end": "1724389200"
							},
							{
								"start": "1724389200",
								"end": "1724994000"
							},
							{
								"start": "1724994000",
								"end": "1725598800"
							},
							{
								"start": "1725598800",
								"end": "1726203600"
							},
							{
								"start": "1726203600",
								"end": "1726808400"
							},
							{
								"start": "1726808400",
								"end": "1727413200"
							},
							{
								"start": "1727413200",
								"end": "1728018000"
							},
							{
								"start": "1728018000",
								"end": "1728622800"
							},
							{
								"start": "1728622800",
								"end": "1729227600"
							},
							{
								"start": "1729227600",
								"end": "1729832400"
							},
							{
								"start": "1729832400",
								"end": "1730437200"
							},
							{
								"start": "1730437200",
								"end": "1731042000"
							},
							{
								"start": "1731042000",
								"end": "1731646800"
							},
							{
								"start": "1731646800",
								"end": "1732251600"
							},
							{
								"start": "1732251600",
								"end": "1732856400"
							},
							{
								"start": "1732856400",
								"end": "1733029200"
							}
						]
					}
				},
				"variables": {
					"DateRange": {
						"type": "Array",
						"defaultValue": [
							{
								"start": "1733029200",
								"end": "1732424400"
							},
							{
								"start": "1732424400",
								"end": "1731819600"
							},
							{
								"start": "1731819600",
								"end": "1731214800"
							},
							{
								"start": "1731214800",
								"end": "1730610000"
							},
							{
								"start": "1730610000",
								"end": "1730005200"
							},
							{
								"start": "1730005200",
								"end": "1729400400"
							},
							{
								"start": "1729400400",
								"end": "1728795600"
							},
							{
								"start": "1728795600",
								"end": "1728190800"
							},
							{
								"start": "1728190800",
								"end": "1727586000"
							},
							{
								"start": "1727586000",
								"end": "1726981200"
							},
							{
								"start": "1726981200",
								"end": "1726376400"
							},
							{
								"start": "1726376400",
								"end": "1725771600"
							},
							{
								"start": "1725771600",
								"end": "1725166800"
							},
							{
								"start": "1725166800",
								"end": "1724562000"
							},
							{
								"start": "1724562000",
								"end": "1723957200"
							},
							{
								"start": "1723957200",
								"end": "1723352400"
							},
							{
								"start": "1723352400",
								"end": "1722747600"
							},
							{
								"start": "1722747600",
								"end": "1722142800"
							},
							{
								"start": "1722142800",
								"end": "1721538000"
							},
							{
								"start": "1721538000",
								"end": "1720933200"
							},
							{
								"start": "1720933200",
								"end": "1720328400"
							},
							{
								"start": "1720328400",
								"end": "1719723600"
							},
							{
								"start": "1719723600",
								"end": "1719118800"
							},
							{
								"start": "1719118800",
								"end": "1718514000"
							},
							{
								"start": "1718514000",
								"end": "1717909200"
							},
							{
								"start": "1717909200",
								"end": "1717304400"
							},
							{
								"start": "1717304400",
								"end": "1716699600"
							},
							{
								"start": "1716699600",
								"end": "1716094800"
							},
							{
								"start": "1716094800",
								"end": "1715490000"
							},
							{
								"start": "1715490000",
								"end": "1714885200"
							},
							{
								"start": "1714885200",
								"end": "1714280400"
							},
							{
								"start": "1714280400",
								"end": "1713675600"
							},
							{
								"start": "1713675600",
								"end": "1713070800"
							},
							{
								"start": "1713070800",
								"end": "1712466000"
							},
							{
								"start": "1712466000",
								"end": "1711861200"
							},
							{
								"start": "1711861200",
								"end": "1711256400"
							},
							{
								"start": "1711256400",
								"end": "1710651600"
							},
							{
								"start": "1710651600",
								"end": "1710046800"
							},
							{
								"start": "1710046800",
								"end": "1709442000"
							},
							{
								"start": "1709442000",
								"end": "1708837200"
							},
							{
								"start": "1708837200",
								"end": "1708232400"
							},
							{
								"start": "1708232400",
								"end": "1707627600"
							},
							{
								"start": "1707627600",
								"end": "1707022800"
							},
							{
								"start": "1707022800",
								"end": "1706418000"
							},
							{
								"start": "1706418000",
								"end": "1705813200"
							},
							{
								"start": "1705813200",
								"end": "1705208400"
							},
							{
								"start": "1705208400",
								"end": "1704603600"
							},
							{
								"start": "1704603600",
								"end": "1703998800"
							},
							{
								"start": "1703998800",
								"end": "1703394000"
							},
							{
								"start": "1703394000",
								"end": "1702789200"
							},
							{
								"start": "1702789200",
								"end": "1702184400"
							},
							{
								"start": "1702184400",
								"end": "1701579600"
							}
						]
					},
					"endDate": {
						"type": "String"
					},
					"startDate": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Preprocess_Air_Pollution')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Air_Pollution_Historical",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Preprocess_historical_weather')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Weather_Historical",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Weather_Historical')]"
			]
		}
	]
}